@import "../../utils/mixins.scss";

.content-management {
  .hero-image {
    width: 80%;
  }
  .content {
    // margin: auto 2em 4em;

    h1 {
      margin: 1.8em auto 1.2em;
      color: $royalBlue;
    }

    p {
      text-align: left;

      span {
        font-weight: 600;
      }

      .orange {
        color: $orange;
      }
    }
    div.mid-img {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 1em;
      img {
        margin-left: 0.5em;
      }
    }
  }
}
