.domain-name::after {
  content: "*";
}

.domain-name-info {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}

.domain-name-info::before {
  content: "*";
}

@media (max-width: 360px) {
  .domain-table {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .domain-table {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .domain-table {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .domain-table {
    display: none;
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  .domain-cards {
    display: none;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .domain-cards {
    display: none;
  }
}

@media (min-width: 1681px) {
  .domain-cards {
    display: none;
  }
}

.price-chart {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #424851;
  color: white;
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2% auto 15%;
  padding-bottom: 3em;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

@media (max-width: 360px) {
  .price-chart {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .price-chart {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .price-chart {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .price-chart {
    display: none;
  }
}

.price-chart .col {
  width: 17.5%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin-top: 1.5em;
}

.price-chart .col div {
  height: 30%;
  padding: 1.5em 0 0.5em;
  margin: auto;
}

.price-chart .col div h5,
.price-chart .col div p,
.price-chart .col div span {
  text-shadow: 3px 3px 3px black;
}

.price-chart .col div h5 {
  margin: 0;
}

.price-chart .col div p {
  margin: 0;
  margin-bottom: 0.2em;
}

.price-chart .col div span {
  font-size: 1.5em;
  font-weight: 800;
}

.price-chart .col .row {
  height: 10%;
  margin: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: inset 0.6em 0 1em #2a2d30;
          box-shadow: inset 0.6em 0 1em #2a2d30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-chart .col .row img {
  width: 18%;
}

.price-chart .col .blue-text {
  color: #1e92f6;
  font-weight: 600;
}

.price-chart .col .row-light {
  background: #3c4149;
}

.price-chart .col .row-dark {
  background: #5b626c;
}

.price-chart .col .start-now {
  color: goldenrod;
  padding-top: 0.2em;
  padding: 0.2em auto 0.1em;
  font-weight: 600;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .price-chart .col .start-now {
    font-size: 0.85em;
  }
}

.price-chart .col-1 {
  width: 30%;
}

.price-chart .col-1 p:not(:first-child) {
  font-size: 0.8em;
}

.price-chart .col-1 p:first-child {
  font-size: 2em;
}

.price-chart .col-1 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#33373d), color-stop(69%, #424851));
  background: linear-gradient(0deg, #33373d 0%, #424851 69%);
}

.price-chart .col-2 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#e83e39), to(#c185b3));
  background: linear-gradient(0deg, #e83e39 0%, #c185b3 100%);
}

.price-chart .col-3 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#fcac31), color-stop(95%, #f9d39b));
  background: linear-gradient(0deg, #fcac31 0%, #f9d39b 95%);
}

.price-chart .col-4 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#2f9c52), color-stop(95%, #96ca6b));
  background: linear-gradient(0deg, #2f9c52 0%, #96ca6b 95%);
}

.price-chart .col-5 div {
  background: -webkit-gradient(linear, left bottom, left top, from(#2c2f48), color-stop(95%, #393f76));
  background: linear-gradient(0deg, #2c2f48 0%, #393f76 95%);
}

.price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .price-cards {
    display: none;
  }
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .price-cards {
    display: none;
  }
}

@media (min-width: 1681px) {
  .price-cards {
    display: none;
  }
}

.price-cards .card {
  text-transform: uppercase;
  margin: auto;
  background: #1e92f6;
  overflow: hidden;
  position: relative;
  width: 20em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (max-width: 360px) {
  .price-cards .card {
    margin: 2.5em 0.5em 2.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .price-cards .card {
    margin: 2.5em 0.5em 2.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .price-cards .card {
    margin: 2.5em 0.5em 2.5em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .price-cards .card {
    margin: 2.5em 0.5em 2.5em;
  }
}

.price-cards .card:hover h3 {
  background: #ee3e0e;
}

.price-cards .card h3 {
  margin: 0;
  padding: 1em 0;
  background: #04227a;
  color: white;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%);
}

.price-cards .card p {
  margin: 1em 0;
  color: black;
  font-size: 1.3em;
}

.price-cards .card p span {
  font-weight: 700;
}

.price-cards .card .w-space {
  height: 0.5em;
  background: white;
  margin: 0;
  padding: 0;
}

.price-cards .card ul {
  list-style: none;
  background: #ee3e0e;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.price-cards .card ul li {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  padding: 0.5em 0;
  background: white;
}

.price-cards .card ul li:hover {
  background: lightgrey;
  margin-left: 0.4em;
  margin-right: -0.4em;
}

.price-cards .card .start {
  margin: 0;
  padding: 2em 0;
  background: white;
}

.price-cards .card .start a {
  color: #ee3e0e;
  border: 2px solid #ee3e0e;
  border-radius: 1em;
  padding: 0.5em 1.5em;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.price-cards .card .start a:hover {
  color: white;
  background: #ee3e0e;
}
/*# sourceMappingURL=Pricing.css.map */