/* CoBe Code */

body {
	font-family: cabin, "sans serif";
	background-color: #293e84;
	overflow-x: hidden; 
}

p {
	font-size: 1.5em;
	line-height: 23px;
	font-weight: 500;
	color: #cfe6fc;
	margin-bottom: 15px;
}

h1,
red-orange-h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  line-height: 1.2;
  margin-top: 5%;
  margin-bottom: 15px;
  color: #cfe6fc;
}

h1 {
	font-size: 46px;
  color: #cfe6fc !important;
  text-shadow: 2px 1px 1px #020723;	
	outline-width: 1px solid #020723;
  text-align:  center;
  margin-top: 5%;
  margin-bottom: 5%;
}



.print-and-graphic-design-services img {
  display: block;
  width: 50.1%;
  height: 10em !important;
 justify-content: center;
}

/* CoBe Code stopped */


.print-and-graphic-design-services h1 {
  margin: 3em auto 3em;
  color: #cfe6fc;
}

@media (max-width: 360px) {
  .print-and-graphic-design-services h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services h1 {
    font-size: 1.5em;
  }
}

.print-and-graphic-design-services .bottom-content p {
  margin-bottom: 3em;
  margin: 2em 2em;
}

@media (max-width: 360px) {
  .print-and-graphic-design-services .bottom-content p {
    margin: auto;
    text-align: justify;
    margin: 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services .bottom-content p {
    margin: auto;
    text-align: justify;
    margin: 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services .bottom-content p {
    margin: auto;
    text-align: justify;
    margin: 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services .bottom-content p {
    margin: auto;
    text-align: justify;
    margin: 1em;
  }
}

.print-and-graphic-design-services .bottom-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  .print-and-graphic-design-services .bottom-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services .bottom-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services .bottom-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services .bottom-content section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
}

.print-and-graphic-design-services .bottom-content section img {
  height:4.75em;
  width: 6em;
}

@media (max-width: 360px) {
  .print-and-graphic-design-services .bottom-content section img {
    margin-top: 1.5em;
    width: 6em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services .bottom-content section img {
    margin-top: 1.5em;
    width: 6em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services .bottom-content section img {
    margin-top: 1.5em;
    width: 4em;
    height: 4em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services .bottom-content section img {
    margin-top: 1.5em;
    height: 4em;
    width: 4em;
  }
}

.print-and-graphic-design-services .bottom-content section #eagle {
  height: 4em;
  width: 4em;
}

.print-and-graphic-design-services .bottom-content section #coffeeShelf {
  padding-top: 0.5em;
  height: 7em;
  width: 6em;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .print-and-graphic-design-services .bottom-content section #coffeeShelf {
    height: 7em;
    width: 6em;
  }
}

@media (max-width: 360px) {
  .print-and-graphic-design-services .bottom-content section #coffeeShelf {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services .bottom-content section #coffeeShelf {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services .bottom-content section #coffeeShelf {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services .bottom-content section #coffeeShelf {
    display: none;
  }
}

.print-and-graphic-design-services .bottom-content section p {
  text-align: left;
  line-height: 1.27em;
}

@media (max-width: 360px) {
  .print-and-graphic-design-services .bottom-content section p {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .print-and-graphic-design-services .bottom-content section p {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .print-and-graphic-design-services .bottom-content section p {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .print-and-graphic-design-services .bottom-content section p {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
}

.print-and-graphic-design-services .bottom-content section p span {
  font-weight: 600;
}
/*# sourceMappingURL=print-and-graphic-services.css.map */