@import "../utils/Mixins.scss";

nav {
  display: flex;
  margin-bottom: 5em;
  position: -webkit-sticky;
  position: sticky;

  @include breakpoint(xxs, xs, s) {
    margin-bottom: 3em;
  }
}

header-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  // background: $darkBlue;images/BSM-LOGO/blue-smoke-background.jpg
  background: url("/images/BSM-LOGO/Smoke-Backgrounds/blue-smoke-background.jpg");
  background-size: 100% 150%;
  height: 7em;
  // border-bottom: 2px solid $darkBlue;

  #main-nav {
    display: flex;
    // background-image: url("/videos/3sec-animated-smoke.mp4");
    justify-content: center;
    // justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 1.2% 7% 0%;
    width: 100%;
    // padding-left: auto;

    @include breakpoint(xxs, xs, s) {
      display: none;
    }

    .chevron {
      color: $green;
      padding-left: 0.125em;
      padding-top: 0.25em;
    }

    /* Links inside the navbar */
    .nav-item {
      color: $white;
      font-size: 1em;
      text-align: center;
      padding: 0.5em 5%;
      text-decoration: none;
      font-size: 1.5em;
      // @include breakpoint(xl, xxl) {
      //   font-size: 1.3em;
      // }

      &:hover {
        color: $orange;
        transform: scale(1.1);
        transition: ease-in-out 150ms;
      }
    }

    /* The dropdown container */
    .dropdown {
      // float: left;
      // position: relative;
      display: flex;
      padding: 0.5em 5%;

      .drop-btn {
        border: none;
        background-color: inherit;
        cursor: pointer;
        display: flex;
        align-items: center;
        // padding: 0.5em 5%;

        @include breakpoint(mobile) {
          /* margin important for vertical align on mobile phones */
          // margin: 0;
        }
      }

      &:hover .dropdown-content {
        display: flex;
      }

      &:hover .drop-btn {
        color: $orange;
      }

      .dropdown-content {
        position: absolute;
        display: none;
        z-index: 5;
        background: $darkBlue;
        padding: 0.15em 0.65em 0.5em;
        opacity: 0.9;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
        width: 60vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        .nav-section {
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          &:nth-child(2) {
            width: 50%;

            .split {
              display: flex;
              justify-content: center;

              div {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
          }

          h3 {
            color: $orange;
            text-decoration: underline;
            margin-bottom: 0.25em;
            font-size: 1.25em;
            text-align: center;
          }
        }
        .drop-item {
          float: none;
          color: $white;
          padding: 0.5em 1em;
          margin: 0.2em;
          text-decoration: none;
          display: block;
          text-align: center;
          font-size: 0.85em;
          font-weight: inherit;
          min-width: -webkit-min-content;
          min-width: -moz-min-content;
          min-width: min-content;

          &:hover {
            color: $orange;
            transform: scale(1.15);
            transition: ease-in-out 200ms;
          }
        }
      }
      .home-drop {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
      }
    }
    .logo-wrapper {
      position: absolute;
      left: 1em;
      top: 1em;
      // left: 2em;
      // height: 40%;
      .logo {
        height: 5em;
      }
    }
  }
}
