@import "../Utils/Mixins/Mixins.scss";

.contact-text {
  display: flex;
  flex-direction: column-reverse;
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 0;
  align-items: flex-end;
  padding: 1em 0.5em;

  .text-btn {
    border-radius: 50%;
    width: 5em;
    border: 2px solid $orange;
    margin-top: 1em;

    &:hover {
      border: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    position: relative;
    width: 12em;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    background: lightgrey;
    padding: 0 0.5em;

    p {
      font-size: 0.8em;
      background: lightblue;
      border-radius: 24px 24px 24px 3px;
      padding: 0.25em;
    }
    .input-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: white;
      border-radius: 24px 24px 3px 24px;
      padding: 0.5em 0;
      margin: 0 0 1em;
      height: 50%;

      input {
        width: 80%;
        padding: 0.5em;
        margin: 0.5em auto;
        border: none;
        border-bottom: 1px solid grey;
      }
    }

    button {
      color: $lightBlue;
      background: $royalBlue;
      width: 30%;
      margin: 0 auto 1em;
    }
  }

  .hide-form {
    display: none;
    position: absolute;
  }
}
