@import "../../utils/Mixins.scss";

.seo-friendly {
  color: $royalBlue;
  text-align: justify;
  padding: 0 2em;

  img {
    border-bottom: 2px outset $darkBlue;
    margin: 0 auto 2em;
    display: block;
    width: 80%;
  }

  h1 {
    text-align: center;
    margin: 1.25em auto;

    @include breakpoint(xxs, xs, s, m) {
      font-size: 1.7em;
    }
  }

  h2 {
    text-align: center;
    @include breakpoint(l) {
      font-size: 1.35em;
    }
  }

  .seo-friendly img {
    border: 2px outset #020723;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p {
    a {
      text-decoration: none;

      span {
        font-weight: 600;
      }
    }

    .p-Intro .p2 {
      margin-left: 13%;
      margin-top: 2em;
      width: 76%;
      text-align: justify;
    }

    &:last-child {
      margin-bottom: 2.2em;
    }
  }

  div.left-img {
    display: flex;
    // width: 80%;
    .p1 {
      margin-bottom: 2em;
      // @include breakpoint(xxs, xs, s, m) {
      //   margin: auto;
      // }
    }
  }
  div.right-img {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 6em;
  }

  div.left-img,
  div.right-img {
    width: 80%;
    align-items: center;
    text-align: justify;
    img {
      height: 10em;
      margin: 0 1em;
    }
    div p {
      margin: auto;
    }
    @include breakpoint(xxs, xs, s, m) {
      flex-direction: column;
    }
  }

  h4 {
    font-size: 1.25em;
    margin: 2em auto 1em;

    @include breakpoint(l) {
      margin-bottom: 0;
    }
  }

  #contact {
    color: $orange;
  }
}
