#pg-bkgrnd {
    font-family: cabin, "sans serif";
    background-color: #293e84;
    width: 100vw;
    min-height: 100vh;
}

b {
    font-weight: 900;
    color: #EE3E0E;
    text-shadow: 1px 1px 0px #020723;
}

.line-h {
    padding-bottom: -1.75%;
}

.b-a {
    color: rgb(84, 140, 255) !important;
    font-weight: 900;
    /* text-shadow: .5px .5px .5px #020723;	 */
}

.b-b {
    color: #7fbd3e;
    font-weight: 900;
    text-shadow: 1px 2px 2px #020723;
}

.b-c {
    color: #cfe6fc;
    font-weight: 900;
    text-shadow: 2px 1px 1px #020723;
    outline-width: 1px solid #020723;
}

.b-d {
    color: #293e84;
    font-weight: 300;
    font-size: 1em;
}

.b-e {
    color: #EE3E0E !important;
    font-weight: 500;
    font-size: 1em !important;
    text-shadow: none !important;
}

.spacing {
    letter-spacing: .05em;
    word-spacing: .08em;
    line-height: 1.55em;
}

.tab {
    text-indent: -26px;
    padding-left: 7%;
}

.q {
    color: #cfe6fc;
    font-size: 46px;
    line-height: 47px;
}


/* .form-vertical-align {
	padding-top: 9%;
} */

.padding-right {
    padding-right: 3%;
}

.padding-top-one {
    padding-top: 5%;
}

.padding-top-two {
    padding-top: 8%;
}

.padding-top-three {
    padding-top: -15%;
}

.BSM-hr {
    border: none;
    width: 60%;
    height: 2px;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 4%;
    margin-left: auto;
    background-color: #1e92f6;
}

.bold-blue {
    color: #1e92f6;
    font-size: .95em;
    font-weight: 500;
    text-shadow: 1px 1px 1px #293e84;
}

h3.italics-midnightBlue {
    /* font-style: italic; */
    font-size: 1.25em;
    font-weight: 700;
    margin-top: -1em;
}

.span-bold-link {
    font-weight: 900;
}

.blue {
    margin-bottom: 3%;
    color: rgb(84, 140, 255) !important;
    /* outline-width: 1px solid #293e84 !important; */
    text-shadow: 2px 2px 1px #020723 !important;
}

.blue-h3 {
    font-size: 2em;
    color: rgb(30, 146, 246);
    /* outline-width: 1px solid #293e84 !important; */
    text-shadow: 1px 1px 1px #020723;
}

.blue-h3-a {
    font-size: 1em;
    font-weight: 700;
    color: rgb(30, 146, 246) !important;
}

.blue-h3-b {
    font-size: 1em;
    font-weight: 700;
    color: rgb(30, 146, 246) !important;
}

.blue-text-a {
    color: #293e84 !important;
    font-size: 1em;
    /* outline-width: 1px solid #293e84 !important; */
    /* text-shadow: 2px 2px 1px #020723 !important; */
}

.blue-text {
    color: #1244a4;
    /* text-shadow: .25px .25px .25px #020723; */
}

.white-text {
    color: #cfe6fc !important;
    outline-width: 1px solid #293e84;
    text-shadow: 2px 2px 1px #020723 !important;
}

.golden-rod {
    color: #daa520;
    text-shadow: 2px 2px 1px #020723;
}

.green {
    color: #7fbd3e !important;
}

.ctr {
    text-align: center !important;
}

.red-orange-h2 {
    color: #EE3E0E !important;
    text-shadow: 1px 1px 1px #020723;
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
    line-height: 1.2;
    margin-top: 5%;
    margin-bottom: 20px;
    padding-bottom: 5.577%;
}

.red-orange-h3 {
    color: #EE3E0E;
    text-shadow: 1px 1px 1px #020723;
}

.midnightBlue {
    color: #020723;
}

.sprano1 {
    color: #7fbd3e!important;
    text-align: left;
    font-weight: 400;
    font-size: .80em!important;
    font-style: italic;
    margin-top: -5px;
    margin-right: -13px;
}

.leader1 {
    color: #7fbd3e !important;
    text-align: left;
    font-weight: 400;
    font-size: .80em!important;
    font-style: italic;
    margin-top: -5px;
    margin-right: -14px;
}

.q-leader {
    color: #cfe6fc;
    font-size: 25px;
    line-height: 30px;
}


/* ========================================================== */


/* 			      What is a custom website design             */


/* ========================================================== */

.group:after {
    content: "";
    display: table;
    clear: both;
}

.custom-templates-img {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    border: solid 1px #020723;
    border-radius: 12%;
    box-shadow: #020723 2px 2px 3.755px 0px;
    width: 100%
}

.section-blue {
    background: #293e84;
    margin: 2em auto 0;
    /* padding: 40px 0 40px 0; */
}

.text-img-a {
    text-align: left;
    color: #EE3E0E;
    font-size: 2.55em;
    width: auto;
    margin-bottom: 2%;
    text-shadow: 1px 1px #020723;
}

.text-img0 {
    text-align: justify;
    width: auto;
    padding-bottom: 2%;
    text-shadow: 1px 1px #020723;
}

.text-img1 {
    text-align: justify;
    width: auto;
    margin-top: 5%;
    text-shadow: 1px 1px #020723;
}

.text-img3 {
    text-align: justify;
    width: auto;
    padding-top: -1%;
    margin-bottom: 3%;
    text-shadow: 1px 1px #020723;
}

.bsmoke {
    color: #cfe6fc;
    text-shadow: 1px 2px 2px #020723;
    outline-color: #020723 2px solid;
    font-weight: 900;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.bold {
    color: #7fbd3e;
    text-shadow: 1px 1px 1px #020723;
    font-weight: 700;
    font-size: 1.25em;
}

.bold-orange {
    color: #ee3e0e;
    font-weight: 800;
    text-shadow: 1px 1px #020723;
    font-size: 1.554em;
}

p.section-subtitle.white {
    color: #cfe6fc;
    -webkit-text-decoration-color: 1px solid #293e84;
    text-decoration-color: 1px solid #293e84;
    text-shadow: 2px 2px 1px #020723;
}

h3.medium-title {
    font-size: 32px;
    margin-top: 10px;
    text-shadow: 2px 2px 1px #020723;
}


/* ========================================================== */


/*  END  		What is a custom website design               */


/* ========================================================== */


/* ========================================================== */


/*    What is the importance of a custom website design       */


/* ========================================================== */


/*image*/

.cwsd-importance {
    background-color: #020723;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 454px;
    width: 100%;
    padding-bottom: 1.55%;
    border: solid 1px #000000;
    border-radius: 2.55%;
    box-shadow: #000000 2px 2px 3.755px 0px;
}

div.text-img2 {
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    text-align: justify;
    margin-top: 2.355%;
    padding-left: 1%;
    text-shadow: 1px 1px #020723;
    letter-spacing: .07em;
}

div.text-img3 {
    display: flex;
    justify-content: left;
    margin-left: 2%;
    text-align: justify;
    text-shadow: 1px 1px #020723;
    line-height: 1.755;
    letter-spacing: .07em;
    word-spacing: .05em;
    width: 98.5%;
}

.bold-orange-2 {
    color: #ee3e0e;
    font-weight: 800;
    text-shadow: 1px 1px #020723;
    font-size: 1em;
}


/* hidden text for the READ ON button */

.bold-golden-rod {
    color: #daa520;
    font-weight: 700;
    text-shadow: 1px 1px #020723;
    font-size: 1em;
}

.float {
    position: relative;
    top: 1em;
    left: 32em;
}


/* ========================================================== */


/*  END  What is the importance of a custom website design    */


/* ========================================================== */


/* ========================================================== */


/*  BEGIN How Can a Custom Website Design Help My Business?   */


/* ========================================================== */

h2.cwsd-section-title.white {
    color: #cfe6fc;
    margin-top: 5.5%;
    margin-bottom: 15%;
    text-shadow: 2px 2px 1px #020723;
}

ol {
    list-style-image: url(/images/green-diamond-32px-x-49px.png);
    /* width: 8vh;
	height: 8vw;  */
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        float: none;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#BSM-hr-1 {
    border: none;
    background-color: rgb(84, 140, 255);
    width: 60% !important;
    margin-top: 1%;
    margin-right: 20% !important;
    margin-left: 20% !important;
    margin-bottom: 0 !important;
}


/* ========================================================== */


/*  END How Can a Custom Website Design Help My Business?   */


/* ========================================================== */


/* ========================================================== */


/*  BEGIN        How to Increase Your Brand Awareness...      */


/* ========================================================== */

.section-midnight-blue {
    background-color: #020723;
}

.background-lt-blue {
    background-color: rgb(84, 140, 255);
}

.increase-brand-awareness-img {
    display: flex;
    justify-content: left;
    max-width: 90%;
    max-height: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 15%;
}

p.p-brand-awareness {
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    text-align: justify;
    font-family: cabin 'Sans Serif';
    font-weight: 800;
    font-size: 1.577em;
    line-height: 1.05em;
    text-shadow: 2px 2px 1px #020723;
    letter-spacing: .05em;
    word-spacing: -.1em;
    padding-right: 10.75%;
    margin-top: 29.255%;
}


/* ========================================================== */


/* BREAKPOINTS

Mobile: 320 x 480 
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.  */


/*
========================================================== */


/* ========================================================== */


/* END   How to Increase Your Brand Awareness...              */


/* ========================================================== */


/* ========================================================== */


/* BEGIN     CTA How to Increase Your Brand Awareness...      */


/* ========================================================== */

.green-exclaimation {
    font-size: 1.75em;
    font-weight: 900;
}

.aform {
    font-size: 3em;
    margin-top: 10%;
    padding-bottom: 17%;
}


/* ========================================================== */


/* END   CTA How to Increase Your Brand Awareness...          */


/* ========================================================== */


/* ========================================================== */


/* BEGIN	              Gallery                         */


/* ========================================================== */

.portfolio-top {
    margin-top: -17em;
}


/* ========================================================== */


/*   BEGIN	               SERVICES                           */


/* ========================================================== */

.img-local-seo {
    margin-top: 10%;
}

.span-bold-link {
    color: #002774;
    font-weight: 900;
}


/* ========================================================== */


/*   					BEGIN   FAQ's 					      */


/* ========================================================== */

.faq {
    margin-top: 2%;
    width: 97%;
    border: solid 1px #293e84;
    box-shadow: 3px 3px 10px #002774;
}

.section-white .faq-top {
    margin-top: -4em;
    padding-bottom: 2em;
}

.accordionP {
    color: #1e92f6;
    -webkit-text-stroke: 1px solid #002774;
    letter-spacing: .5px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
}


/* ========================================================== */


/*   					END   FAQ's  					      */


/* ========================================================== */


/* ========================================================== */


/*   					BEGIN   Team Images / Info		      */


/* ========================================================== */

.team-item {
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 18px 18px;
    transition: all 0.25s ease-in-out;
    background: #f7f8fa;
    box-shadow: rgb(30, 146, 246)0 4px 0px 5px;
}

.team-item:hover {
    transition: all 0.8s;
    margin-top: 25px;
}

.team-item h3 {
    margin: 20px 0 1px 0!important;
    padding-bottom: 5%;
    color: #293e84;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.team-info {
    display: block;
    margin-bottom: 0;
}

.team-info p {
    color: #3866a3;
    font-style: italic;
}

.team-info::after {
    background: #EE3E0E;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: -20px;
}

.team-img {
    max-width: 140px;
    padding: 6px 6px;
    background-color: #EE3E0E;
    outline: 1px solid #002774;
    box-shadow: #002774 2px 2px 3.755px 0px;
    border-radius: 50%;
}

.team-img-men {
    max-width: 140px;
    padding: 6px 6px;
    background-color: #548cff;
    outline: 1px solid #002774;
    box-shadow: #002774 2px 2px 3.755px 0px;
    border-radius: 50%;
}


/* ========================================================== */


/*   		BEGIN  FOOTER						 			  */


/* ========================================================== */

h1-f,
.h2-f {
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    color: #293e84;
}

h3-f,
h4-f,
h5-f,
h6-f {
    font-family: 'Cabin', sans-serif;
    line-height: 1.2;
    margin-top: 20%;
    margin-bottom: 20px;
    color: #293e84;
}


/* .section-white-footer {
 */


/* } */


/* .col-md-12 .text-center .padding-bottom-40 {
	margin-top: -5%;
} */


/* ========================================================== */


/*   <!--BEGIN  OUR FEATURES --->						                                     */


/* ========================================================== */

.onBoarding {
    width: 20%;
    height: 25%;
}

.bsm-hr-2 {
    border: none;
    width: 60%;
    height: 2px;
    margin-top: -14%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
    background-color: #1244a4 !important;
}


/* ========================================================== */


/*   <!--BEGIN widths --->						      */


/* ========================================================== */

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-45 {
    width: 45%;
}

.width-48 {
    width: 48%;
}

.width-50 {
    width: 50%;
}

.width-55 {
    width: 55%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-105 {
    width: 105%;
}

.width-110 {
    width: 110%;
}

.width-115 {
    width: 115%;
}

.width-125 {
    width: 125%;
}

.width-150 {
    width: 150%;
}


/* back to top */

.back-to-top {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 15px;
    color: #ffffff;
    background: #293e84;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    transition: .9s;
}

.back-to-top:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #ff561d;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.back-to-top:hover:before,
.back-to-top:focus:before {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover,
.back-to-top:focus {
    color: #ffffff;
}

.back-to-top.active {
    top: 97%;
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
}

.back-to-top i:last-child {
    opacity: 0;
    visibility: hidden;
    top: 60%;
}

.back-to-top:hover i:first-child,
.back-to-top:focus i:first-child {
    opacity: 0;
    top: 0;
    visibility: hidden;
}

.back-to-top:hover i:last-child,
.back-to-top:focus i:last-child {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

.back-to-top i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.5s;
    font-size: 20px;
}


/*GOOGLE Maps Pack Page*/

.h4-Maps {
    font-family: 'Cabin', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 1%;
    color: #EE3E0E;
    text-shadow: 2px 2px 1px #020723 !important;
    margin-left: 5%;
    margin-bottom: -3%;
}

.h4-Maps-subtitles {
    display: flex;
    font-family: 'Cabin', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: #7fbd3e;
    margin-left: 5%;
    text-shadow: 2px 2px 1px #020723 !important;
    margin-bottom: -4%;
}

div h5 {
    color: #020723;
    font-weight: 900;
    /* text-shadow: 1px 2px 2px #ee3e0e; */
    margin-bottom: -5%;
    padding-top: 4%;
}

div h3 {
    color: #020723;
    font-weight: 900;
    padding-top: 4%;
}

.G-everything-img {
    width: 520px;
    border-radius: 5%;
    margin-bottom: 15%;
    margin-top: -.8%;
    margin-left: 5%;
    box-shadow: #020723 0 2px 25px;
}

div p.three-pack-text {
    margin-right: 5%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding-left: 1%;
    text-shadow: 1px 1px #020723;
}

.img-bsm-google-maps {
    width: 45%;
    height: 400px;
    position: relative;
    width: 45%;
    border-radius: 5%;
    z-index: 999;
    box-shadow: #020723 0 2px 25px;
}

.text-bsm-google-maps {
    width: 52%;
    margin-right: 5%;
    margin-top: -25.333%;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    text-align: justify;
    padding-left: 1%;
    text-shadow: 1px 1px #020723;
}

.logo-header {
    width: 45%;
    margin-top: -1%;
}


/*Get the Adobe plugin work-around for 'balance-text'
/* Plugin looks for elements with class named "balance-text" */

.balance-text {
    text-wrap: balance;
    /* Apply (proposed) CSS style */
}