

div.cta-audit-img {
  background: url("/images/blue-smoke-flat.jpg")no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 0;
  color: white;
  box-shadow: #0f2080 0px 10px 38px;
  }
  
  div.audit-top {
    margin-top: -1%;
  }

  span.red-orange-h2 {
    color: #ee3e0e !important;
    font-weight: 800;
    text-shadow: 2px 2px 3px #020723;
    font-size: 1.554em;
  }

  h4.audit-subtitle {
    margin-top:  5% ;
    padding-bottom: 2%;
  }

div.audit-subtitle {
  font-size: .75em;
  letter-spacing: .1em;
	word-spacing: -.1em;
}


