

/* ------------------------
    Table of Contents

  1. Accordion
  2. Button
  3. Social
  4. Team
  5. Tab
  6. Counter
  7. Blog - Post
  8. Progress Bar
  9. Testimonials
  10. Featured Box  
  11. Price Table
  12. Section Title
  13. Portfolio
  14. Services
  15. Cases
  16. Timeline


/* ------------------------
    Accordion
------------------------*/
/* .accordion .accordion-item {
  background: none;
  position: relative;
}

.accordion .accordion-item .accordion-button {
  text-transform: capitalize;
  font-size: 1.125rem;
  padding: .5rem 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

.accordion .accordion-item .accordion-button[aria-expanded="true"] {
  color: #0a54f3;
  background-color: inherit;
  border-color: #0a54f3;
}

.accordion .accordion-item .accordion-button:focus {
  border-color: inherit;
  box-shadow: none;
}

.accordion .accordion-item .accordion-button:after {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  content: "\f067";
  font-family: 'Line Awesome Free';
  font-weight: 900;
  font-size: 1.2rem;
  top: 50%;
  position: absolute;
  right: 1rem;
  margin-top: -10px;
  background: none;
  color: #232629
}

.accordion .accordion-item .accordion-button[aria-expanded="true"]:after {
  color: #2363d5;
  content: "\f068";
  background: #ffffff;
}

.accordion .accordion-body {
  padding: 15px;
  line-height: 2;
}

.accordion.style-2 {
  background: #ffffff;
  padding: 30px;
  position: relative;
}

.accordion.style-2 span {
  bottom: 0;
  color: rgba(0, 0, 0, 0.050);
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  position: absolute;
  right: 0;
}

.accordion.style-2 h5 {
  color: #0a54f3
}*/

/* ------------------------
    Button
------------------------*/


/* ------------------------
    Featured Box
------------------------*/
.featured-item {
  padding: 15px;
  position: relative;
}

.featured-item .featured-icon {
  display: inline-block;
  margin-bottom: 20px;
}

.featured-item .featured-icon i {
  /* color: #020723*/
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
}

.featured-desc   {
  display: block;
  overflow: hidden;
  margin: 0px;
  color: #293e84;
}

.featured-desc p :hover{
/* .featured-desc p :active.{ */
	color: #cfe6fc;
}

.featured-title h4 {
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 22px;
}

.dark-bg .featured-title h4,
.dark-bg .featured-desc,
.theme-bg .featured-title h4,
.theme-bg .featured-desc,
.theme-bg .featured-icon i {
 color: #293e84;
}



.featured-item.style-2 {
  background: #ffffff;
  padding: 25px;
  overflow: hidden;
}

.featured-item.style-2:hover {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -o-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -moz-transform: translateY(5px);
}

.featured-item.style-3 {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;

  margin: 0 1rem;
  background: #ffffff;
  padding: 50px 30px;
  border-radius:  3%;
  box-shadow: #EE3E0E 2px 2px 5px ;
  border: solid 1px #EE3E0E;
}

.featured-item.style-3:hover {
  background: #0b0f34;
}



.featured-item.style-3:hover .featured-desc {
  color: #cfe6fc;
}


.featured-item.style-3:hover .featured-title h4,
.featured-item.style-3:hover  {
  color: #EE3E0E;
}

.featured-item.style-4 {
  padding: 0 0 0 80px;
  position: relative;
  background: none
}

.featured-item.style-4 .featured-icon {
  left: 0;
  position: absolute;
  top: 0;
  display: inline-block;
  margin: 0;
}

.featured-item.style-4:hover {
  box-shadow: none;
  transform: inherit;
}

.featured-item.style-5 {
  padding: 50px;
  background: #ffffff
}

.featured-item.style-5:hover {
  background: #0a54f3;
}

.featured-item.style-5:hover .featured-title h4,
.featured-item.style-5:hover .featured-desc,
.featured-item.style-5:hover .featured-icon i {
  color: #ffffff
}

.featured-item.style-5.active {
  transform: scale(1.1);
  z-index: 9;
}

/* ------------------------
    Price Table
------------------------*/
/* .price-table {
  padding: 50px 30px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  text-align: center;
}

.price-title {
  text-transform: capitalize;
  font-weight: 400;
  color: #232629;
  margin-bottom: 20px;
}

.price-header {
  position: relative;
  z-index: 9;
}

.price-value h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #3143ef;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.price-value h2 span {
  font-weight: normal;
}

.price-value > span {
  margin: 5px 0;
  display: block;
  color: #fd5b03
}

.price-list ul li {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.price-list li i {
  color: #3143ef;
  line-height: 30px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  background: rgba(49, 67, 239, 0.1);
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.price-table.active {
  padding: 80px 30px;
  z-index: 9;
} */

/* ------------------------
    Section Title
------------------------*/
/* .title {
  position: relative;
  color: #232629;
}

.dark-bg .title {
  color: #ffffff
}

.section-title h6 {
  position: relative;
  padding: 0 40px;
  display: inline-block;
  font-weight: 500;
}

.section-title h6:before {
  content: "";
  position: absolute;
  background: #f84e12;
  left: 0;
  top: 50%;
  margin-top: -1px;
  width: 30px;
  height: 2px;
}

.section-title h6:after {
  content: "";
  position: absolute;
  background: #f84e12;
  right: 0;
  top: 50%;
  margin-top: -1px;
  width: 30px;
  height: 2px;
}

.theme-bg .section-title h6,
.dark-bg .section-title h6,
.theme-bg .title {
  color: #ffffff;
}

.theme-bg .section-title h6:before,
.theme-bg .section-title h6:after {
  background: #ffffff;
}

/* ------------------------
    Portfolio
------------------------*/
/* .portfolio-filter {
  display: inline-block;
  margin: 0 auto 50px;
  text-align: center;
}

.portfolio-filter button {
  position: relative;
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  color: #3f3f3e;
  float: left;
  text-transform: uppercase;
  -webkit-box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
  -moz-box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
  box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
}

.portfolio-filter button:focus {
  outline: none;
  outline-style: none;
  outline-offset: 0;
}

.portfolio-filter button.is-checked,
.portfolio-filter button:hover {
  background: #0a54f3;
  color: #ffffff;
}

.portfolio-filter button + button {
  margin-left: 20px;
}

.isotope .grid-item img {
  width: 100%;
}

.theme-bg .portfolio-filter button.is-checked,
.theme-bg .portfolio-filter button:hover {
  background: #ffffff;
  color: #0a54f3;
}

.grid .grid-item {
  padding: 10px;
}

.grid.columns-2 .grid-item,
.masonry.columns-2 .masonry-brick {
  width: 50%;
}

.grid.columns-3 .grid-item,
.masonry.columns-3 .masonry-brick {
  width: 33.333333%;
}

.grid.columns-4 .grid-item,
.masonry.columns-4 .masonry-brick {
  width: 25%;
}

.masonry .masonry-brick {
  float: left;
  margin-bottom: 30px;
  padding: 0 15px;
  position: relative;
}

.grid.no-gutters .grid-item {
  padding: 0;
}

.masonry.no-gutters .masonry-brick {
  padding: 0;
  margin: 0;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

.portfolio-hover h4 {
  color: #ffffff;
  margin-bottom: 0;
}

.portfolio-hover span {
  color: #ffffff;
}

.portfolio-icon {
  margin-top: 15px;
}

.portfolio-item a.popup {
  z-index: 9;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ffffff;
  display: inline-block;
  margin: 0 5px;
  color: #0a54f3;
  font-size: 20px;
}

.portfolio-item a.popup:hover {
  background: #ffffff;
  color: #0a54f3;
}

.portfolio-item .portfolio-hover {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * 10px);
  height: calc(100% - 2 * 10px);
  background: #0a54f3
}

.portfolio-item .portfolio-hover {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.portfolio-item .portfolio-title {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0;
}

.portfolio-item .portfolio-icon a {
  opacity: 0;
}

.portfolio-item .portfolio-icon a:first-child {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.portfolio-item .portfolio-icon a:nth-child(2) {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.portfolio-item:hover .portfolio-hover {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.portfolio-item:hover .portfolio-title {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.portfolio-item:hover .portfolio-icon a {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.85s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
} */

/* ------------------------
    Service
------------------------*/
/* .service-item {
  overflow: hidden;
  position: relative;
}

.service-images {
  position: relative;
  overflow: hidden;
}

.service-images:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

.service-images:before {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.service-item:hover .service-images:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.service-item .service-description {
  padding: 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
}

.service-item:hover .service-description {
  transform: translateY(50%);
  bottom: 50%;
}

.service-item .service-description h5 {
  margin: 15px 0;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.service-item img {
  width: 100%;
}

.service-item p {
  margin: 0;
  color: #ffffff
}

.service-icon i {
  z-index: 9;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #0a54f3;
  display: inline-block;
  color: #ffffff;
  font-size: 40px;
  border-radius: 50%;
} */

/* ------------------------
    Page Sidebar
------------------------*/
/* .sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-links li:last-child {
  margin-bottom: 0;
}

.sidebar-links li a {
  border: 2px solid #eeeff7;
  color: #232629;
  display: block;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  padding: 0 30px 0 0;
  line-height: 3.5rem;
  background: transparent;
}

.sidebar-links li a:before {
  content: "";
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.sidebar-links li a .link-icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.sidebar-links li a .link-icon.link-arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.sidebar-links li a .link-icon.link-arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #232629;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  border-right: 0.125rem solid #232629;
  transform: rotate(45deg);
}

.sidebar-links li a .link-text {
  margin: 0;
  position: relative;
  z-index: 1;
  margin-left: 40px;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  padding: 0;
  color: #232629;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}

.sidebar-links li a:hover {
  background: none
}

.sidebar-links li.active a,
.sidebar-links li a:hover:before {
  width: 100%;
  background: #fd5b03;
}

.sidebar-links li.active a .link-icon.link-arrow,
.sidebar-links li a:hover .link-icon.link-arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.sidebar-links li.active a .link-text,
.sidebar-links li a:hover .link-text {
  color: #fff;
  margin-left: 60px;
}

.sidebar-links li.active a .link-icon.link-arrow::before,
.sidebar-links li a:hover .link-icon.link-arrow::before {
  border-top: 0.125rem solid #ffffff;
  border-right: 0.125rem solid #ffffff;
}

.brochure {
  background: #ffffff;
  border: 1px solid #efefef;
  color: #3143ef;
  display: block;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 80px;
  position: relative;
}

.brochure:hover {
  color: #fd5b03;
}

.brochure i {
  background: #ffffff;
  border-right: 1px solid #f2f2f2;
  color: #3143ef;
  font-size: 28px;
  font-weight: 400;
  height: 100%;
  left: 0;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 60px;
}

.brochure span {
  color: #232629;
  font-size: 14px;
  display: block;
  font-weight: 400;
} */

/* ------------------------
    Cases
------------------------*/
/* .cases-item {
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  -webkit-box-shadow: 0 0 15px 0 rgba(31, 35, 37, 0.4);
  -moz-box-shadow: 0 0 15px 0 rgba(31, 35, 37, 0.4);
  box-shadow: 0 0 15px 0 rgba(31, 35, 37, 0.4);
}

.owl-carousel .cases-item {
  margin: 15px;
}

.cases-images {
  position: relative;
  overflow: hidden;
}

.cases-item .cases-description {
  padding: 20px;
  top: 50%;
  left: 10px;
  right: 10px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.cases-item:after {
  background: #0a54f3;
  position: absolute;
  content: "";
  display: block;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

.cases-item:hover .cases-description {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.cases-item:hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.cases-item .cases-description h5 {
  margin: 15px 0;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.cases-item img {
  width: 100%;
}

.cases-item span {
  font-weight: 600;
  color: #ffffff;
  display: block;
  margin: 10px 0;
}

.cases-item p {
  margin: 0;
  color: #ffffff
}

.cases-link i {
  z-index: 9;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  font-size: 50px;
}

.cases-link i:hover {
  color: #0a54f3;
}

blockquote {
  background: #0b0f34;
  border-left: 8px solid #0a54f3;
  border-right: 8px solid #0a54f3;
  font-style: italic;
  line-height: 30px;
  padding: 30px;
  color: #ffffff;
} */

/* ------------------------
    Timeline
------------------------*/
/*.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline:after {
  content: '';
  position: absolute;
  width: 5px;
  background: rgba(49, 67, 239, 0.1);
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -2px;
}

.timeline--first:after {
  top: 20px;
}

.timeline-title {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.timeline-title h2 {
  background: #ffffff;
  color: #3143ef;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  line-height: 30px;
}

.timeline-inner {
  padding: 10px 30px 40px 30px;
  width: 50%;
  position: relative;
  background-color: inherit;
}

.timeline-right {
  margin-left: 50%;
}

.timeline-content {
  padding: 20px 30px;
  background: #fcfcff;
  position: relative;
}

.timeline-content h3 {
  font-size: 20px;
  color: #232629;
  font-weight: bold;
}

.timeline-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -16px;
  border: solid 0.5em #9b59b6;
  border-right-color: rgb(155, 89, 182);
  border-right-color: transparent;
  border-left-color: transparent;
  padding: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #3498db;
  background-clip: border-box;
  background-clip: content-box;
  animation: spinDisc 1.5s linear infinite;
}

.timeline-right.timeline-inner::before {
  right: inherit;
  left: -16px;
}

@keyframes spinDisc {
  50% {
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    background-color: #2ecc71;
  }

  100% {
    transform: rotate(1turn);
  }

} */