/* ------------------------
    Featured Box
------------------------*/

.featured-item {
    padding: 15px;
    position: relative;
    border: 5px solid lawngreen;
    height: 40em;
}

.featured-item .featured-icon {
    display: inline-block;
    margin-bottom: 20px;
}

.featured-item .featured-icon i {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
}

.featured-desc {
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    color: #293e84;
}

.featured-desc p :hover {
    /* .featured-desc p :active.{ */
    color: #cfe6fc;
}

.featured-title h4 {
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 22px;
}

.dark-bg .featured-title h4,
.dark-bg .featured-desc,
.theme-bg .featured-title h4,
.theme-bg .featured-desc,
.theme-bg .featured-icon i {
    color: #293e84;
}

.featured-item.style-2 {
    background: #cfe6fc;
    padding: 25px;
    overflow: hidden;
}

.featured-item.style-2:hover {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
}

.featured-item.style-3 {
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1rem 1rem;
    background: #cfe6fc;
    border-radius: 3%;
    box-shadow: #EE3E0E 2px 2px 5px;
    border: solid 1px #EE3E0E;
}

.featured-item.style-3:hover {
    background: #0b0f34;
}

.featured-item.style-3:hover .featured-desc {
    color: #cfe6fc;
}

.featured-item.style-3:hover .featured-title h4,
.featured-item.style-3:hover {
    color: #EE3E0E;
}

.featured-item.style-4 {
    padding: 0 0 0 80px;
    position: relative;
    background: none;
}

.featured-item.style-4 .featured-icon {
    left: 0;
    position: absolute;
    top: 0;
    display: inline-block;
    margin: 0;
}

.featured-item.style-4:hover {
    box-shadow: none;
    transform: inherit;
}

.featured-item.style-5 {
    padding: 50px;
    background: #cfe6fc;
}

.featured-item.style-5:hover {
    background: #0a54f3;
}

.featured-item.style-5:hover .featured-title h4,
.featured-item.style-5:hover .featured-desc,
.featured-item.style-5:hover .featured-icon i {
    color: #cfe6fc;
}

.featured-item.style-5.active {
    transform: scale(1.1);
    z-index: 9;
}