@import "../Utils/Mixins/Mixins.scss";

.privacy {
  text-align: left;
  margin: 3em 3em 3em;
  .scroll-top {
    position: -webkit-sticky;
    position: sticky;
    cursor: pointer;
    bottom: 0.25em;
    left: 0;
    color: $orange;
    text-shadow: 1px 1px $darkBlue;
    background: $lightBlue;
    padding: 0.25em 0.5em;
    border-radius: 20%;
  }
  // #scroll-top { // FROM App.scss
  //   position: -webkit-sticky;
  //   position: sticky;
  //   bottom: 1em;
  //   left: 0.75em;
  //   text-align: center;
  //   width: -webkit-min-content;
  //   width: -moz-min-content;
  //   width: min-content;
  //   font-weight: 700;
  //   color: $orange;
  //   line-height: 0.8em;
  // }
  pre {
    white-space: pre-wrap;
  }
  .toc li {
    list-style: none;
    margin-bottom: 0.5em;
  }
  a {
    color: $lightBlue;
    text-decoration: none;
  }
  h1 {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .scroll-item {
    margin: 0;
    color: $lightBlue;
    cursor: pointer;
  }
  h4 {
    margin: 2em auto 0;
  }

  .disclaimer {
    white-space: pre-wrap;
    h3 {
      font-weight: 900;
    }
  }
}
