.home {
  z-index: 50;
}

@media (max-width: 360px) {
  .home {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home {
    width: 98%;
    margin: auto;
  }
}

.home .globe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: url("../../images/globe-stretch-new.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 0 1.5em;
  margin-top: 3em;
  min-width: 80%;
}

.home .globe a {
  color: #1e92f6;
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .home .globe {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

@media (min-width: 1681px) {
  .home .globe {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

@media (max-width: 360px) {
  .home .globe {
    margin-top: 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe {
    margin-top: 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe {
    margin-top: 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe {
    margin-top: 1em;
  }
}

@media (max-width: 360px) {
  .home .globe {
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe {
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe {
    background-image: url("../../images/grey_background_globe-element_for_mobile.png");
  }
}

.home .globe div {
  text-align: center;
  font-weight: normal;
  width: 40%;
  margin: auto;
  margin-right: 55%;
  color: #d7dae6;
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .home .globe div {
    margin-top: 1em;
  }
}

@media (min-width: 1681px) {
  .home .globe div {
    margin-top: 1em;
  }
}

@media (min-width: 981px) and (max-width: 1280px) {
  .home .globe div {
    margin-top: 3%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe div {
    font-size: 0.9em;
    text-align: left;
  }
}

@media (max-width: 360px) {
  .home .globe div {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe div {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe div {
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

.home .globe div h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: #1e92f6;
  margin: 0.25em auto 0.25em;
  text-shadow: 2px 2px black;
  line-height: 1.1em;
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe div h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 360px) {
  .home .globe div h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .home .globe div h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe div h1 {
    font-size: 1.5em;
  }
}

.home .globe p {
  color: #1e92f6;
  margin-top: 2.25em;
  font-weight: 600;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .home .globe p {
    margin-top: 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .home .globe p {
    margin-top: 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .home .globe p {
    margin-top: 1em;
  }
}

.home .globe p span {
  color: #ee3e0e;
}

.home .brand-awareness div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .brand-awareness div img {
  height: 10em;
  width: 10em;
}

.home .some-cta {
  background: grey;
}

.home .quote-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home .quote-cta .quote {
  border: 2px solid red;
  text-align: left;
  padding: 0 1em;
}

.home .quote-cta .quote :nth-child(2) {
  text-align: right;
  margin-left: 4em;
}

.home .abc-wrapper h3 {
  text-decoration: underline;
}

.home .abc-wrapper .abc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .abc-wrapper .abc .letter img {
  width: 5em;
  height: 5em;
}

.home .tips-continued div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .tips-continued div img {
  width: 17em;
  height: 17em;
}

.home .visibility-cta {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 2px solid #000;
  text-align: left;
}
/*# sourceMappingURL=Home.css.map */