@import '../Utils/Mixins/Mixins.scss';
.home {
  z-index: 50;
  @include breakpoint(xxs, xs, s, m) {
    width: 98%;
    margin: auto;
  }

  .globe {
    display: flex;
    flex-direction: row-reverse;
    background: url('../../images/globe-stretch-new.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 0 1.5em;
    margin-top: 3em;
    min-width: 80%;
    a {
      color: $lightBlue;
    }
    @include breakpoint(xl, xxl) {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    @include breakpoint(xxs, xs, s, m) {
      margin-top: 1em;
    }

    @include breakpoint(xxs, xs, s) {
      background-image: url('../../images/grey_background_globe-element_for_mobile.png');
    }

    div {
      text-align: center;
      font-weight: normal;
      width: 40%;
      margin: auto;
      margin-right: 55%;
      color: $white;
      @include breakpoint(xl, xxl) {
        margin-top: 1em;
      }
      @include breakpoint(l) {
        margin-top: 3%;
      }

      @include breakpoint(m) {
        font-size: 0.9em;
        text-align: left;
      }
      @include breakpoint(xxs, xs, s) {
        text-align: center;
        width: 90%;
        margin: auto;
      }

      h1 {
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        color: $lightBlue;
        margin: 0.25em auto 0.25em;
        // margin-bottom: 1em;
        text-shadow: 2px 2px black;
        line-height: 1.1em;

        // @include breakpoint(xl, xxl) {
        //   margin-top: 3em;
        // }

        @include breakpoint(m) {
          font-size: 1.6em;
        }
        @include breakpoint(xxs, xs, s) {
          font-size: 1.5em;
        }
      }
    }
    p {
      color: $lightBlue;
      margin-top: 2.25em;
      font-weight: 600;
      @include breakpoint(l) {
        margin-top: 2em;
      }

      @include breakpoint(s, m) {
        margin-top: 1em;
      }

      span {
        color: $orange;
      }
    }
  }

  .brand-awareness {
    div {
      display: flex;
      img {
        height: 10em;
        width: 10em;
      }
    }
  }
  .some-cta {
    background: grey;
    @include breakpoint(xxs, xs, s, m) {
      // width: 100vw;
      // margin: 0 -1%;
    }
  }
  .quote-cta {
    display: flex;
    justify-content: space-around;
    .quote {
      border: 2px solid red;
      text-align: left;
      padding: 0 1em;
      :nth-child(2) {
        text-align: right;
        margin-left: 4em;
      }
    }
  }
  .abc-wrapper {
    h3 {
      text-decoration: underline;
    }
    .abc {
      display: flex;
      .letter {
        img {
          width: 5em;
          height: 5em;
        }
      }
    }
  }
  .tips-continued {
    div {
      display: flex;
      img {
        width: 17em;
        height: 17em;
      }
    }
  }
  .visibility-cta {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 2px solid #000;
    text-align: left;
  }
}
