.e-commerce-website-development {
  img {
    border-bottom: 2px outset #020723;
  }
  .content {
    h1 {
      margin: 1em auto 0.8em;
      color: #04227a;
    }
    p {
      text-align: left;
    }
  }
}
