@import "../../utils/Mixins.scss";

.custom-website-design {
  .hero-image {
    border: 2px solid $darkBlue;
    display: block;
    width: 50%;
    margin: 5em auto 1em;
  }

  .content {
    // margin: 2em auto 4em;
    text-align: left;
    font-size: 1.5em;
    padding: 1em 2em;

    h1 {
      text-align: center;
      margin-bottom: 1.5em;
      color: $royalBlue;

      @include breakpoint(l) {
        margin-bottom: 1.1em;
      }

      @include breakpoint(xxs, xs, s) {
        margin-bottom: 1em;
      }
    }

    @include breakpoint(xxs, xs, s) {
      p {
        margin: 2em 1em;
      }
    }

    ol {
      margin: 2em auto;
      margin-left: 1.75em;

      @include breakpoint(xxs, xs, s) {
        margin-left: 1em;
      }

      li {
        color: $orange;
        line-height: 1.35em;
      }
    }

    span {
      font-weight: 600;
    }
  }
}
