@import "./breakpoints.scss";
// $orange: rgb(246, 74, 30);
$orange: #ee3e0e;
$lightBlue: #1e92f6;
$MidnightBlue: #020723;
$royalBlue: #002774;
$white: #cfe6fc;
$green: #7fbd3e;
$gold: #daa520;
$blue: #293e84;
$shadowBlue: #293e84;
$outlineBlue: #1244a4;
$darkBlue: #293e84;
