@import "./breakpoints.scss";
// $orange: rgb(246, 74, 30);
$orange: #ee3e0e;
$lightBlue: #1e92f6;
$darkBlue: #020723;
$royalBlue: #04227a;
$white: #cfe6fc;
$green: #7fbd3e;
$gold: #daa520;
// $midnightBlue: 

$shadowBlue: #293e84;
$outlineBlue: #1244a4;
