@import "../utils/Mixins.scss";

.contact {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 5em;

  h1 {
    font-size: 3em;
    margin-top: 3em;
    color: $royalBlue;
    text-align: center;
  }

  p {
    font-style: italic;
    margin: 1em auto 3em;
    text-align: center;
    font-size: 1.5em;
  }
  span {
    visibility: hidden;
    position: absolute;
  }
  .message-sent {
    visibility: visible;
    position: relative;
    width: 100%;
    padding: 0 0.25em;
    margin: 0 auto;
    transition: 700ms ease-in-out all;
    background: lightgreen;
    border: 2px solid green;
    // todo transition out more
  }
  .form-img-wrapper {
    display: flex;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    // margin: 2em auto 15em;
    margin-left: auto;
    // border: outset 4px $royalBlue;
    background-image: url("../../images/6.jpg");

    @include breakpoint(xxs, xs, s, m) {
      margin: 0 auto 1em;
      width: 100%;
    }

    .field {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1em;
      opacity: 20%;
      input {
        color: $green;
      }

      @include breakpoint(xxs, xs, s, m) {
        font-size: 0.9em;
        margin-bottom: 0.5em;
      }
    }

    #submit-btn {
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      background: $orange;
      color: white;
      text-shadow: 1px 1px 1px #000;
      border: 2px outset $royalBlue;
      border-radius: 0.25em;
      font-weight: 600;
      padding: 0.25em 0.5em;
      margin-top: 1em;
      @include breakpoint(xxs, xs) {
        font-size: 0.9em;
      }
      &:hover {
        background: $royalBlue;
        color: $green;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0.2em auto 1.8em;

    @include breakpoint(xxs, xs, s) {
      width: 40%;
    }
  }
}
// }
