.inquiryForm {
  height: 100%;
}

.inquiryForm h1 {
  padding-top: 0.7em;
  color: #020723;
}

.inquiryForm span {
  visibility: hidden;
  position: absolute;
}

.inquiryForm .message-sent {
  visibility: visible;
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 700ms ease-in-out all;
  transition: 700ms ease-in-out all;
  background: lightgreen;
  border: 2px solid green;
}

.inquiryForm p {
  font-style: italic;
  margin: 1em auto 3em;
}

@media (max-width: 360px) {
  .inquiryForm p {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm p {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm p {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm p {
    display: none;
  }
}

.inquiryForm form {
  width: 90%;
}

@media (max-width: 360px) {
  .inquiryForm form {
    margin-left: 5%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form {
    margin-left: 5%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form {
    margin-left: 5%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form {
    margin-left: 5%;
  }
}

.inquiryForm form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: auto 3em;
}

@media (max-width: 360px) {
  .inquiryForm form .left {
    margin: auto 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left {
    margin: auto 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left {
    margin: auto 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .left {
    margin: auto 1em;
  }
}

.inquiryForm form .left label {
  font-size: 1.2em;
  margin-top: 0.25em;
}

@media (max-width: 360px) {
  .inquiryForm form .left label {
    font-size: 1.05em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left label {
    font-size: 1.05em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left label {
    font-size: 1.05em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .left label {
    font-size: 1.05em;
  }
}

.inquiryForm form .left label input[type="text"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.1em auto 0.2em 0.5em;
  font-size: 0.9em;
  width: 50%;
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .left label input[type="text"] {
    width: 80%;
  }
}

@media (max-width: 360px) {
  .inquiryForm form .left label input[type="text"] {
    width: 95%;
    margin: 0.1em auto 0.2em 0.5em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left label input[type="text"] {
    width: 95%;
    margin: 0.1em auto 0.2em 0.5em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left label input[type="text"] {
    width: 95%;
    margin: 0.1em auto 0.2em 0.5em;
  }
}

.inquiryForm form .left .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 360px) {
  .inquiryForm form .left .time label {
    text-align: center;
    margin: 0.3em auto 0.15em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left .time label {
    text-align: center;
    margin: 0.3em auto 0.15em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left .time label {
    text-align: center;
    margin: 0.3em auto 0.15em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .left .time label {
    text-align: center;
    margin: 0.3em auto 0.15em;
  }
}

@media (max-width: 360px) {
  .inquiryForm form .left .time div {
    margin: auto;
    width: 75%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left .time div {
    margin: auto;
    width: 75%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left .time div {
    margin: auto;
    width: 75%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .left .time div {
    margin: auto;
    width: 75%;
  }
}

@media (max-width: 360px) {
  .inquiryForm form .left .time div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .left .time div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .left .time div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inquiryForm form .left .time div input[type="radio"] {
  margin: auto 1em;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.inquiryForm form h3 {
  text-align: left;
  margin: 2.5em 3em 1em;
}

@media (max-width: 360px) {
  .inquiryForm form h3 {
    margin: 1.5em 1em 1em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form h3 {
    margin: 1.5em 1em 1em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form h3 {
    margin: 1.5em 1em 1em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form h3 {
    margin: 1.5em 1em 1em;
  }
}

.inquiryForm form .right {
  margin: auto 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 360px) {
  .inquiryForm form .right {
    margin: auto 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .right {
    margin: auto 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .right {
    margin: auto 2em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .right {
    margin: auto 2em;
  }
}

.inquiryForm form .right label {
  font-size: 1.2em;
  text-align: left;
  width: 45%;
  margin-bottom: 0.5em;
}

@media (max-width: 360px) {
  .inquiryForm form .right label {
    font-size: 1em;
    margin-bottom: 0.6em;
    width: 48%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .right label {
    font-size: 1em;
    margin-bottom: 0.6em;
    width: 48%;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .right label {
    font-size: 1em;
    margin-bottom: 0.6em;
    width: 48%;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .right label {
    font-size: 1em;
    margin-bottom: 0.6em;
    width: 48%;
  }
}

.inquiryForm form .actions {
  width: 20%;
  margin: 1em auto 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 981px) and (max-width: 1280px) {
  .inquiryForm form .actions {
    margin: 1.2em auto 2em;
  }
}

@media (max-width: 360px) {
  .inquiryForm form .actions {
    width: 50%;
    margin: 1.2em auto 2em;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .inquiryForm form .actions {
    width: 50%;
    margin: 1.2em auto 2em;
  }
}

@media (min-width: 481px) and (max-width: 736px) {
  .inquiryForm form .actions {
    width: 50%;
    margin: 1.2em auto 2em;
  }
}

@media (min-width: 737px) and (max-width: 980px) {
  .inquiryForm form .actions {
    width: 50%;
    margin: 1.2em auto 2em;
  }
}

.inquiryForm form .actions button {
  font-size: 1.2em;
  margin: auto;
  font-weight: 700;
  border-radius: 0.5em;
}

.inquiryForm form .actions button:hover {
  color: #1e92f6;
}

.inquiryForm form .antiSpam {
  display: none;
}
/*# sourceMappingURL=InquirySurveyForm.css.map */